@font-face{
    font-family: actionis; 
    src: url('../landing/actionis.ttf')
}

nav{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media(max-width: 916px){
    nav{
        flex-direction: column; 
        justify-content: center; 
    }
}
  
nav section{
    display: flex; 
    flex-wrap: wrap;
    align-items: baseline;
}
nav section h2{
    font-family: actionis;
    text-shadow: 1px 3px 2px white;
    font-size: 35px;
    margin-left: 4px;
}

@media(max-width: 916px){
    nav section h2{
        font-size: 45px;
        margin-bottom: 15px;
    }
}

@media(max-width: 425px){
    nav section h2{
        font-size: 35px;
        margin-bottom: 15px;
    }
}

.search-container{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column; 
}

@media(max-width: 425px){
    .search-container{
        padding-bottom: 15px;  
    }
}

.search-container form{
    display: flex;
    flex-wrap: wrap; 
    position: relative;
}

@media(max-width: 916px){
    .search-container form{
        padding-left: 0px; 
    }
}

.search-container input{
    width: 250px;
    padding: 5px;
    border-radius:10px;
    outline: none;
    border:1px solid rgba(128, 128, 128, 0.603);
}

.search-container button{
    position: absolute;
    padding: 5px;
    width: 45px; 
    background: transparent;
    right: 0px;
    bottom: 0px;
    border-radius:10px;
    border:none; 
    outline: none;
}

nav ul{
    display: flex; 
    flex-wrap: wrap;
    align-items: flex-end;
}

@media(max-width: 916px){
    nav ul{
        width: 100%;
        justify-content: space-around; 
    }
}

@media(max-width: 425px){
    nav ul{
        margin-top: 0px; 
    }
}

.vinyl-icon{
    font-size: 35px;
    margin-right: 3px;
}

.cart-icon{
    font-size:20px;
    color: black;
    margin-left: 5px;
}

.navbar-items li .cart-icon{
    margin-bottom:1px;
}

.search-icon{
    font-size: 15px;
}

.navbar-items li{
    margin-left: 2rem;
    display: flex;
    color: black;
    font-size: 19px;
    font-weight: 600;
}

@media(max-width: 916px){
    .navbar-items li{
        margin-left: 0px;
    }
}

@media(max-width: 425px){
    .navbar-items li{
        width: 100%;        
        justify-content: center; 
    }
}

.fa-user{
    margin-bottom: 1px;
    font-size: 21px
}

.fa-crown{
    font-size: 21px; 
    margin-bottom: 1px; 
}







