@font-face{
    font-family: actionis; 
    src: url('../landing/actionis.ttf')
}

.menu-card-container{
    display: flex; 
    flex-wrap: wrap; 
    padding-bottom: 20px; 
    border-bottom: 1px solid lightgrey;
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    margin-top: 15px;
}

.menu-card-image-container{
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 1px 3px 5px black;
    height: 225px;
    width: 250px; 
}

.menu-card-text{
    position: absolute; 
    height:100%;
    max-height: 225px;
    display: flex; 
    text-align: center;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center;
    font-family: actionis;
    font-size: 1.1rem;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    text-shadow: 1px 2px 1px orange;
    color: white;    
}
