@font-face{
    font-family: actionis; 
    src: url('../landing/actionis.ttf')
}

.shopping-cart-container{
    width: 100%; 
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    max-width: 900px;
    margin: 0 auto;
}

@media(max-width: 430px){
    #shop-cart{
        padding-left: 5px;   
    }
}

.shopping-cart-container .cart-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;  
    margin-top: 0px;
}

.cart-header-background{
    background: url('../landing/psych1.jpg');
    background-position: center; 
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.281);
    margin: 20px 0px; 
}

.shopping-cart-container .cart-header h1{
    font-family: actionis;
    font-size: 56px;
    text-shadow: 1px 3px 2px white;
    width: auto;
    text-align: center;
}

@media(max-width: 500px){
    .shopping-cart-container .cart-header h1{
        margin: 0px auto; 
    }
}

.shopping-cart-card{
    width: 100%;
    display: flex; 
    flex-wrap: wrap; 
    max-height: 150px;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid rgba(128, 128, 128, 0.342);
    margin-bottom: 15px;
}

.cart-left-container{
    display: flex; 
    flex-wrap: wrap;
}

@media(max-width: 620px){
    .cart-left-container h5{
        margin: 5px 0px; 
    }
}

.product-image{
    height: auto; 
    width: 100%;
    max-height: 150px;
    max-width: 150px;
}

@media(max-width: 620px){
    .product-image{
        height: 110px; 
        width: 110px; 
    }
}

.shopping-cart-card section{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column; 
    justify-content: space-between;
    max-height: 150px;
    padding-left: 25px;
}

@media(max-width: 620px){
    .shopping-cart-card section{
        padding-left: 10px; 
    }
}

.shopping-cart-card section p{
    margin: 0px 0px 0px 0px;
    font-size: 12px;
}

.shopping-cart-card section h4{
    margin: 0; 
}

@media(max-width: 400px){
    .shopping-cart-card section h4{
        width: 145px; 
    }
}

.shopping-cart-card input{
    width: 30px;
    padding: 4px 0px;
    text-align: center;
}

.button-qty-section{
    display: flex; 
    flex-wrap: wrap; 
}

.button-qty-section button{
    padding: 0px 12px; 
}

@media(max-width: 620px){

}

form{
    padding-left: 25px;
}

.price{
    margin-bottom: 0px;
}

@media(max-width: 620px){
    .price{
        font-size: 16px;  
    }
}

@media(max-width: 480px){
    .price{
        font-size: 13px;  
    }
}

.total{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-end; 
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    width: 100%;
    padding-bottom: 15px;
}

.total button{
    background: rgba(0, 196, 0, 0.781); 
    border: none;
    padding: 7px;
    color: white;
    border-radius: 5px; 
    box-shadow: 1px 3px 15px black;
    width: 16%;
    min-width: 140px;
}

.empty-cart{
    height: 70vh; 
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.cart-form-container{
    display: flex; 
    flex-wrap: wrap; 
}

@media(max-width:480px){
    .cart-form-container{
        padding-left: 5px; 
    }
}

.button-container{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column; 
    justify-content: space-around;
    margin-left: 5px;
}

.button-container p:first-child{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(0, 0, 0);
}

.button-container p:last-child{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(0, 0, 0);
}

.cart-form-container label{
    margin-right: 5px;
}
